<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coursenju.mapper.GradeMapper">
    <!--新建成绩单-->
    <insert id="addGrade" parameterType="com.example.coursenju.entity.Grade" useGeneratedKeys="true">
        INSERT INTO coursenju.grade(grade_id, course_id, student_id, student_name, total_score, usual_score, mid_score, final_score)
        VALUES(#{gradeId},#{courseId},#{studentId},#{studentName},#{totalScore},#{usualScore},#{midScore},#{finalScore})
    </insert>

    <!--删除成绩单-->
    <delete id="deleteGrade" parameterType="java.lang.String">
        DELETE FROM coursenju.grade WHERE grade_id=#{gradeId}
    </delete>

    <!--修改成绩-->
    <update id="updateGrade" parameterType="com.example.coursenju.entity.Grade">
        UPDATE coursenju.grade
        SET total_score=#{totalScore},usual_score=#{usualScore},mid_score=#{midScore},final_score=#{finalScore}
        WHERE grade_id=#{gradeId}
    </update>

    <!--根据id查找成绩单-->
    <select id="getGradeById" parameterType="java.lang.String" resultType="com.example.coursenju.entity.Grade">
        SELECT id as id,
               grade_id as gradeId,
               course_id as courseId,
               student_id as studentId,
               student_name as studentName,
               total_score as totalScore,
               usual_score as usualScore,
               mid_score as midScore,
               final_score as finalScore
        FROM coursenju.grade WHERE grade_id=#{gradeId}
    </select>

    <!--根据课程查找成绩单-->
    <select id="getGradeByCourseId" parameterType="java.lang.String" resultType="com.example.coursenju.entity.Grade">
        SELECT id as id,
               grade_id as gradeId,
               course_id as courseId,
               student_id as studentId,
               student_name as studentName,
               total_score as totalScore,
               usual_score as usualScore,
               mid_score as midScore,
               final_score as finalScore
        FROM coursenju.grade WHERE course_id=#{courseId}
    </select>

    <!--根据学生查找成绩单-->
    <select id="getGradeByStudentId" parameterType="java.lang.String" resultType="com.example.coursenju.entity.Grade">
        SELECT id as id,
               grade_id as gradeId,
               course_id as courseId,
               student_id as studentId,
               student_name as studentName,
               total_score as totalScore,
               usual_score as usualScore,
               mid_score as midScore,
               final_score as finalScore
        FROM coursenju.grade WHERE student_id=#{studentId}
    </select>

    <!--查找所有成绩单-->
    <select id="getAllGrades" resultType="com.example.coursenju.entity.Grade">
        SELECT id as id,
               grade_id as gradeId,
               course_id as courseId,
               student_id as studentId,
               student_name as studentName,
               total_score as totalScore,
               usual_score as usualScore,
               mid_score as midScore,
               final_score as finalScore
        FROM coursenju.grade
    </select>
</mapper>